:root{
	--btn_bg: #f02640;
	--btn_color: #fff;
	--a_href_color: #000; 	        
	--level_1_color: #fff;  		
	--product_price_color: #222;	
	--product_title_color: #30323A;	
	--footer_bg: #fff;		
	--header_bg: #fff;		
	--top_menu_bg: #fff;		
	--menu_bg: #fff;		
	--body_color: #222;		
	--body_bg: #fff;
	--top_menu_color: #888;
	--h2_color: #30323A;
	--login_btn_bg: transparent;
	--login_btn_color: #fff;
	--cart_number_bg: #F8694A;
	--categories_title_bg: #e6122f;
	--categories_level_1_bg: #fff;
	--categories_level_2_bg: #fff;
	--level_2_color: #f02640;
	--inner_body_bg: #fff;
	--product_bg: #fff;
	--product_bottom_bg: #fff;
	--review_star_color: #888;
	--paragraph_color: #fff;
	--h5_color: #fff;
	--input_bg_color: #fff;
	--breadcrumb_bg: #f9f9f9;
	--product_list_bg: #fff;
	--currency_bg: #fff;
	--currency_color: #000;
	--filters_bg: #fff;
 	--pagination_bg: #fff;
 	--pagination_bg_active: #fff;
    --pagination_color_active:  #337ab7;
    --article_product_price_color: #D13E3B;
    --discount_price_color: #000;
    --add_to_cart_btn_bg: #f02640;
    --add_to_cart_btn_color: #fff;
    --add_to_cart_btn_bg_hover: #333;
    --add_to_cart_btn_bg_not_available: #f79888;
    --btn_hover_bg: #333;
    --sale_action_price_bg: #e6122f;
  	--sale_action_bg: #000;
  	--product_old_price_color: #aaa;
  	--label_color: #222;
  	--scroll_top_bg: #fff;
  	--global_color: #f02640;
	}